apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    # THIS IS A MAC SPECIFIC PATH - because Docker Desktop for Mac uses a VM
    # whose /host_mnt folder maps to the Mac host filesystem shared folders selected
    # in the UI
    path: /host_mnt/tmp/imagomortis/postgres 